:root {
    --background-color: #fefefe;
    --color: #343434;
  }
  
  body {
    font-family: sans-serif;
    text-align: center;
    background-color: var(--background-color);
    color: var(--color);
    -webkit-transition: background-color 1000ms linear, color 1000ms linear;
    -moz-transition: background-color 1000ms linear, color 1000ms linear;
    -o-transition: background-color 1000ms linear, color 1000ms linear;
    -ms-transition: background-color 1000ms linear, color 1000ms linear;
    transition: background-color 1000ms linear, color 1000ms linear;
  }
  